{% extends "base.html.twig" %}


{% block title %}
	{{ property.title }}
{% endblock %}


{% block body %}

	<div class="main">
		<div class="jumbotron">
			<div class="container mt-5">
				<div class="row">
					<div class="col-md-8">
						{% if property.imageName %}
							<div class="property_image">
								<img style="max-width: 100%; height: auto;" alt="card-img-top" src="{{ vich_uploader_asset(property, 'imageFile') }}">
							</div>
						{% endif %}
					</div>
					<div class="col-md-4">
						<h1>
							{{ property.title }}
						</h1>
						<p style="font-size: 18px">
							{{ property.address }}
						</p>
						<p>
							<h2>
								{{ property.rooms }}
								pièces -
								{{ property.surface }}
								m²
							</h2>
							<div class="text-success" style="font-size: 4rem;font-weight: bold;">
								{{ property.price|number_format(2, '.', ',') }}
								€
							</div>
							<a href="#" class="btn btn-success">
								Je suis intéressé</a>
						</p>
					</div>
				</div>
			</div>
		</div>


		<div class="container mt-5">
			<p>
				{{ property.description }}
			</p>

			<div class="row">
				<div class="col-md-8">
					<h2>
						Caractéristiques :
					</h2>
					<table class="table table-striped mt-4">
						<tr>
							<td>
								Surface habitable</td>
							<td>
								{{ property.surface }}
								m²</td>
						</tr>

						<tr>
							<td>
								Pièces
							</td>
							<td>
								{{ property.rooms }}
							</td>
						</tr>

						<tr>
							<td>
								Chambres
							</td>
							<td>
								{{ property.bedrooms }}
							</td>
						</tr>


						<tr>
							<td>
								Etage
							</td>
							<td>
								{{ property.floor }}
							</td>
						</tr>

						<tr>
							<td>
								Chauffage
							</td>
							<td>
								{{ property.heatType }}
							</td>
						</tr>
					</table>
				</div>


			</div>


		</div>
	</div>

{% endblock %}
